html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #5ab5ff;
}
button{
    width: 50%;
    height: 70px;
    margin: 50px auto;
    background-color: #c687d9;
    border: none;
    border-radius: 10px;    
}

button:hover{
    box-shadow: #999 5px 5px 5px;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
}

.clothes_container{
    display: flex;
    flex-direction: column;
}

.color_container{
    width: 50%;
    height: 50%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}

.color_container h4{
    font-size: 60%;
}
.color_container input{
    margin: auto;
    height: 50%;
}

.color_container h4{
    margin: auto;
}

.color_container img{
    height: 50%;
    width: 50%;
    margin: 10px auto;
}

.container h1{
    margin: auto;
    text-align: center;
}


@media screen and (min-width: 800px) {
    .clothes_container{
        flex-direction: row;
    }
    .color_container{
        width: 30%;
        height: 30%;
    }
    .color_container h4{
        font-size: 100%;
    }
    button{
        width: 30%;
    }
  }